/* main */

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #118bb8;
}

.text-uppercase{
    color: white;
}


hr.light {
    border-color: #fff;
}

a {
    color: #118bb8;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

    a:hover {
        color: #118bb8;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
    background-color: #118bb8 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text {
    color: black;
    font-weight: bold;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.text-italic {
    font-style: italic;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #ffffff;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

    #mainNav .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: #118bb8;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #118bb8;
        }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #212529;
    }

        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #118bb8;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
            color: #118bb8 !important;
            background-color: transparent;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
                background-color: transparent;
            }

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

        #mainNav .navbar-brand {
            color: rgba(0, 0, 0, 0.7);
        }

            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
                color: #8F8383;
            }

        #mainNav .navbar-nav > li.nav-item > a.nav-link {
            padding: 0.5rem 1rem;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
                color: rgba(0, 0, 0, 0.7);
            }

                #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: #8F8383;
                }

        #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #fff;
        }

            #mainNav.navbar-shrink .navbar-brand {
                color: #118bb8;
            }

                #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                    color: #118bb8;
                }

            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
                color: #212529;
            }

                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: #118bb8;
                }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/GapofDunloe.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    header.masthead hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header.masthead h1 {
        font-size: 2rem;
    }

    header.masthead p {
        font-weight: 300;
    }

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}


/* button */

.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #118bb8;
    border-color: #118bb8;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: #fff;
        background-color: #118bb8 !important;
    }

    .btn-primary:active, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(165, 59, 105, 0.5) !important;
    }

.btn-common {
    background-color: #118bb8;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

    .btn-common:hover {
        color: #fff;
        background-color: #222;
        box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }

.btn-rm {
    padding: 7px 18px;
    text-transform: capitalize;
}


/* portfolio */

#portfolio {
    width: 100%;
}
/*
#portfolio .mix {
    padding: 0;
    display: none;
}

.portfolio-img {
    overflow: hidden;
    display: block;
    position: relative;
}

    .portfolio-img img {
        width: 100%;
    }

.portfolio-content {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    top: 0;
    -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}


.portfolio-content:before {
   background-color: #a54569;
   top: 15px;
   left: 15px;
   bottom: 15px;
   right: 15px;
   content: '';
   position: absolute;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -ms-transform: scale(0.8);
   -o-transform: scale(0.8);
   transform: scale(0.8);
   -webkit-transition: all 400ms ease;
   transition: all 400ms ease;
}
*/
.sup-desc-wrap {
    display: table;
    width: 100%;
    height: 100%;
}
/*
.sup-desc-wrap .sup-title {
    display: block;
    outline: none;
    margin-bottom: 10px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.sup-desc-wrap .sup-title h4 {
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
*/
.sup-desc-wrap .sup-desc-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 35px;
}

.sup-desc-wrap .sup-meta-wrap .sup-description {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-item:hover .portfolio-content,
.portfolio-item:hover .portfolio-content:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.portfolio-item:hover .sup-title {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.portfolio-item:hover .sup-description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}


/* accomplishments */
/* contact */

#accomplishments-contact .accomplishments-contact-item-wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

    #accomplishments-contact .accomplishments-contact-item-wrapper:hover {
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
    }

        #accomplishments-contact .accomplishments-contact-item-wrapper:hover .accomplishments-contact-item-img:before {
            opacity: 1;
            height: 100%;
            width: 100%;
        }

#accomplishments-contact .accomplishments-contact-item-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    #accomplishments-contact .accomplishments-contact-item-img img {
        width: 100%;
    }

#accomplishments-contact .accomplishments-contact-item-text {
    padding: 20px;
}

    #accomplishments-contact .accomplishments-contact-item-text h3 {
        font-size: 25px;
        font-weight: 700;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

        #accomplishments-contact .accomplishments-contact-item-text h3 a {
            color: #333;
        }

            #accomplishments-contact .accomplishments-contact-item-text h3 a:hover {
                color: #a54569;
            }

    #accomplishments-contact .accomplishments-contact-item-text p {
        line-height: 25px;
        margin-bottom: 20px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

.accomplishments-details {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}


/* back to top */

a.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none;
}

    a.back-to-top i {
        display: block;
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: #a54569;
        border-radius: 30px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    }

    a.back-to-top:hover, a.back-to-top:focus {
        text-decoration: none;
    }


/* footer */
/* social */

footer {
    background: #282828;
    color: #7C7C7C;
}

    footer .small-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 22px;
        color: #fff;
    }

    footer ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        footer ul li {
            line-height: 25px;
        }

            footer ul li a {
                color: #999;
                font-size: 14px;
            }

    footer .menu {
        color: #fff;
    }

    footer #copyright {
        background: #1D1D1D;
    }

.social-footer a i {
    height: 39px;
    text-align: center;
    display: inline-block;
    border: 1px solid #a54569;
    line-height: 35px;
    margin: 4px;
    margin-bottom: 20px;
    width: 40px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-footer .fa-linkedin:hover {
    background: #a54569;
    color: #fff;
    border-color: #a54569;
}

.social-footer .fa-youtube:hover {
    background: #a54569;
    color: #fff;
    border-color: #a54569;
}

footer .footer-Content {
    background-color: #18191b;
    padding: 60px 0;
    color: #fff;
}

.footer-widget p {
    color: #fff;
}

footer .menu li {
    padding-bottom: 20px;
}

    footer .menu li a {
        color: #fff;
    }

        footer .menu li a:hover {
            color: #a54569;
        }


/* copyright */

.copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
